<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DualSenseY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DualSenseY.Properties.Settings>
            <setting name="defaultConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="launchWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="launchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port1" serializeAs="String">
                <value />
            </setting>
            <setting name="port2" serializeAs="String">
                <value />
            </setting>
            <setting name="port3" serializeAs="String">
                <value />
            </setting>
            <setting name="port4" serializeAs="String">
                <value />
            </setting>
            <setting name="config1" serializeAs="String">
                <value />
            </setting>
            <setting name="config2" serializeAs="String">
                <value />
            </setting>
            <setting name="config3" serializeAs="String">
                <value />
            </setting>
            <setting name="config4" serializeAs="String">
                <value />
            </setting>
        </DualSenseY.Properties.Settings>
    </userSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true" />
</configuration>